<tr>
    <td>
        <button type="button" class="btn btn-danger remove">-</button>
        <div class="input-group mb-3"><span class="input-group-text" id="basic-addon2">@example.com</span><input
                type="number" class="form-control" placeholder="Tier Number" aria-label="Tier Number"
                aria-describedby="basic-addon2"></div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tier Type
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Cloud</a></li>
                <li><a class="dropdown-item">On Premise</a></li>
                <li><a class="dropdown-item">Hybrid</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Component Type
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Apache</a></li>
                <li><a class="dropdown-item">Tomcat</a></li>
                <li><a class="dropdown-item">LB</a></li>
            </ul>
        </div>
        <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Recipient's username"
                aria-label="Recipient's username" aria-describedby="basic-addon2"><span class="input-group-text"
                id="basic-addon2">@example.com</span></div>
    </td>

</tr>